* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.back_to_top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(28, 27, 27);
  height: 70px;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
}
nav header {
  display: flex;
  align-items: center;
}
nav header img {
  width: 50px;
  height: 50px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li + li {
  margin-left: 20px;
}
nav ul li a {
  color: white;
}
button {
  background-color: dodgerblue;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: white;
}

/* section */
section {
  height: 90vh;
}
.container {
  width: 80%;
  margin: auto;
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  height: 100%;
}
.row > div {
  width: 45%;
}
.row > div > div > h1 {
  font-size: 40px;
}
.row > div > div > p {
  font-size: 20px;
  margin-bottom: 10px;
}
.row .image_container {
  width: 100%;
}
.row .image_container img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
  .container {
    width: 95%;
  }

  section.hero-section .row {
    flex-direction: column-reverse;
  }
  .row {
    /* flex-direction: column-reverse; */
  }
  
  .row > div {
    width: 95%;
  }
}
